@import 'tailwindcss';

@keyframes movePupil {

  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-10px, -10px);
  }

  50% {
    transform: translate(10px, 10px);
  }

  75% {
    transform: translate(-10px, 10px);
  }
}

.eye__pupil {
  animation: movePupil 4s infinite ease-in-out;
}